<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 class="text-dark mb-0">Accounts</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>
  <div class="row">
    <app-banking-account-cards class="col-md-6 col-xl-3 mb-4"     *ngFor="let bankingAccount of accounts"
    [bankingAccountCompactModel]="bankingAccount"></app-banking-account-cards>
  </div>
</div>
